<div class="c-table__wrapper l-grid-col--12">
    <table class="c-table">
        <thead>
        {% set count = 0 %}
        {% for tr in tHeader %}
            {% set count = tr.ths|length > count ? tr.ths|length : count %}
            <tr>
                {% for th in tr.ths %}
                    <th {% if th.sort and elements.isSorted(th.sort) %} class="sorted"{% endif %}
                        {% if th.colspan %}colspan="{{ th.colspan }}"{% endif %}
                        {% if th.rowspan %}rowspan="{{ th.rowspan }}"{% endif %}
                    >
                        {{ th.sort ? knp_pagination_sortable(elements, th.name|upper, th.sort, {'sort': sort, 'sortDirection': sortDirection}) : th.name|upper }}
                    </th>
                {% endfor %}
                {% if loop.first %}
                    <th>{{ knp_pagination_render(elements, '@CanopeeModuleSDK/table/Pagination/live_sliding.html.twig') }}</th>
                {% endif %}
            </tr>
        {% endfor %}
        </thead>
        <tbody>
        {% for el in elements %}
            {% include trTemplate with {'el': el} %}
        {% endfor %}

        {% if elements is empty %}
            <tr>
                <td colspan="{{ count + 1 }}">{{ 'no_elements'|trans({}, 'common') }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
